<h1><%= link_to 'WellBee ðŸ', users_path %></h1>
<h2>New User</h2>
<p id="notice"><%= notice %></p>

<ul class="navigation" style="margin-top: -7rem">
<li><%= link_to 'Back', users_path %></li>
</ul>

<%= render 'form', user: @user %>





